<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUX0-YbxdqZf7IOSHWW8_1LvED-J6duyA</string>
	<key>GCM_SENDER_ID</key>
	<string>85117615417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aolehno.F1-Explorer</string>
	<key>PROJECT_ID</key>
	<string>f1-explorer-3aa9e</string>
	<key>STORAGE_BUCKET</key>
	<string>f1-explorer-3aa9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85117615417:ios:3e36b68dc13e83e7807ce8</string>
</dict>
</plist>
